* {
   text-decoration: none;
   padding: 8px;
}
body { 
    background-color: #F5E7D7;
    font-family:'Rosario';
    font-size: 20px;
    padding-left: 8px;
    padding-right: 8px;
}
h1 {
    font-family:'Lobster Two';
    font-size: 64px;
    color: #304f46;
}
h2 {
    font-family:'Lobster Two';
    font-size: 36px;
    color: #304f46;
}
h3 {
    font-family:'Rosario';
    font-weight: bold;
    font-size: 20px;
    color: #304f46;
}
h4 {
    font-family: 'Rosario';
    font-style: italic;
    font-weight: 200;
    font-size: 24px;
}

h5 {
    font-family: 'Rosario';
    font-weight: bold;
    font-size: 20px;
}
h6 {
    font-family: 'Rosario';
    font-weight: bold;
    font-size: 36px;
}

.image {
    height: 300px;
    padding: 25px;
    align-items: right;
}
.logo {
    width: 100px;
    height: auto;
    padding: 2%;
    float: left;
}
.jumbotron {
    background-color: #6da6ba;
}
#title {
    align-content: space-between;
}

.accordion {
    border-radius: 2px;
    border-color: #304f46;
}

#summary {
    background-color: #6da6ba;
}

#heuristicAnalysis #userPersona #interviews {
    background-color: rgba(109,166,186,0.8);
    border-radius: 2px;
    border-color: #304f46;
}

.value {
    font-weight: bold;
    color: #6da6ba;
}

.probSol {
    border-radius: 8px;
    border-color: #304f46;
    border-width: 2px;
}

#vsExplain {
    border-radius: 8px;
    border-color: #304f46;
    border-width: 2px;
}